<style type="text/css">
    #rcmRedirect .results {
        font-style: normal;
        color: black;
        padding: 5px;
        display: inline;
        clear: both;
    }

    #rcmRedirect .grey {
        background-color: lightgrey;
        padding: 5px;
        display: inline;
        clear: both;
    }

    /*#rcmRedirect .redirectDomain {*/
    /*margin-bottom: 40px;*/
    /*margin-top: 40px;*/
    /*}*/
    #rcmRedirect .requestUrl {
        margin-right: 20px;
        /*margin-bottom: 40px;*/
        width: 15% !important;
    }

    #rcmRedirect .redirectUrl {
        margin-right: 20px;
        /*margin-bottom: 40px;*/
        width: 15% !important;
    }

    #rcmRedirect .addRequestUrl {
        margin-right: 20px;
        width: 15em !important;
    }

    #rcmRedirect .addRedirectUrl {
        margin-right: 20px;
        width: 15em !important;
    }

    #rcmRedirect .siteId {
        width: 5% !important;
    }

    #rcmRedirect .resultBlock {

    }

    #rcmRedirect .search-box {
        width: 30% !important;
        margin-bottom: 20px;
        margin-top: 20px;
        margin-right: 20px;
    }

    #rcmRedirect .redirectHeader {
        margin-left: 111px;
    }

    #rcmRedirect .addNewHeader {
        margin-left: 0px;
    }

    #rcmRedirect .button-space {
        margin-left: 10px;
        margin-right: 10px;
    }

    #rcmRedirect div.glyphicon-minus-sign {
        font-size: 1.2em;
    }

    #rcmRedirect div.glyphicon-plus-sign {
        font-size: 1.2em;
    }

    #rcmRedirect div.glyphicon-save {
        font-size: 1.2em;
    }

    #rcmRedirect .default {
        opacity: 1;
    }

    #rcmRedirect .form-control {
        display: inline;
    }

    #rcmRedirect .modal-content {
        width: 900px !important;
    }

    #rcmRedirect .chosenDomain {
        padding-right: 20px;
    }

    #rcmRedirect .globalCheckbox {
        margin: 10px;
    }

    /*#rcmRedirect .fade{*/
    /*-webkit-transition: opacity 2s; !* For Safari 3.1 to 6.0 *!*/
    /*transition: opacity 2s;*/
    /*opacity: 0;*/
    /*}*/
</style>
<div class="container" id="rcmRedirect">
    <div class="row">
        <h2>Search</h2>
        <button ng-click="setupAddRedirectModal()"
                type="button"
                class="btn btn-primary btn-md"
                data-toggle="modal"
                data-target="#myModal">Add Redirect
        </button>
        <div style="position: relative;">
            <input type="text" ng-model="redirectQuery"
                   class="form-control search-box" placeholder="Search"
                   id="searchDomains">
            <button ng-click="completeList()"
                    type="button"
                    class="btn btn-primary btn-md active">Complete list
            </button>
            <button ng-click="globalList()"
                    type="button"
                    class="btn btn-primary btn-md">Global list
            </button>

            <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button"
                                    class="close"
                                    data-dismiss="modal">&times;
                            </button>
                            <h1 class="modal-title">{{ modalTitle }}</h1>
                            <!--<h1 class="modal-title">Add New Redirect</h1>-->
                        </div>
                        <div class="modal-body">
                            <form class="form-inline"
                                      ng-show="redirectList">
                        <span style="display:inline-block">
                             <label for="requestUrlId"
                                    style="display:block; font-weight: bold;">Request
                                 URL</label>
                             <input ng-model="redirect.requestUrl" type="text"
                                    class="addRequestUrl form-control"
                                    id="requestUrlId" name="requestUrlId">
                        </span>
                        <span style="display:inline-block">
                            <label for="redirectUrlId" style="display:block; font-weight: bold;">RedirectURL</label>
                            <input ng-model="redirect.redirectUrl"
                                   type="text"
                                   class="addRedirectUrl form-control"
                                   id="redirectUrlId"
                                   name="redirectUrlId">
                        </span>
                        <span style="display:inline-block">
                            <label for="domainId" style="display:block; font-weight: bold;">Domain</label>
                            <input ng-model="domainQuery"
                                   value="domainQuery"
                                   type="text"
                                   class="addRedirectUrl form-control"
                                   ng-disabled="checked.disabled"
                                   id="domainId"
                                   name="domainId">
                        </span>
                        <span style="display:inline-block">
                            Global
                            <input type="checkbox"
                                       ng-model="checked.disabled"
                                       ng-init="checked.disabled = checked.disabled || false"
                                       ng-click="saveGlobal()"
                                       class="globalCheckbox"
                                       id="global">
                             <button ng-click="addRedirect(redirect)"
                                     type="button"
                                     ng-show="showAddButton"
                                     class="btn btn-primary btn-md">Add
                             </button>
                             <button ng-click="updateRedirect(redirect.redirectId, redirect)"
                                     type="button"
                                     ng-show="showSaveButton"
                                     class="btn btn-primary btn-md">Save
                             </button>
                        </span>
                                    <div ng-show="domainQuery"
                                         ng-repeat="site in sites | domainFilter:domainQuery"
                                         ng-class="{grey: hover}"
                                         ng-mouseenter="hover = true"
                                         ng-mouseleave="hover = false"
                                         ng-click="saveSiteId(site)">
                                        <span ng-show="showList">{{site.domain}}</span>
                                    </div>
                                </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default"
                                    data-dismiss="modal">Close
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <p><span ng-show="redirectList"><strong>Request
                URL</strong></span><span ng-show="redirectList"
                                         class="redirectHeader"><strong>Redirect
                URL</strong></span></p>
            <div ng-repeat="redirect in redirectList | redirectListFilter:redirectQuery"
                 class="redirectContainer form-group">
                <input ng-change="saveButton(redirect)"
                       ng-model="redirect.requestUrl" type="text"
                       class="requestUrl form-control">
                <input ng-change="saveButton(redirect)"
                       ng-model="redirect.redirectUrl" type="text"
                       class="redirectUrl form-control">
                <input ng-click="populateUpdateRedirectModal(redirect)"
                       data-toggle="modal"
                       data-target="#myModal"
                       readonly
                       ng-model="redirect.domain" type="text"
                       class="redirectUrl form-control">
                <!--<input ng-model="redirect.siteId" type="text" class="siteId form-control">-->

                <!--<option ng-repeat="site in domains" value="{{domain.siteId}}">{{site.domain}}</option>-->

                <div class="button-space glyphicon glyphicon-minus-sign"
                     ng-click="deleteRedirect(redirect)"></div>


                 <span class="default"
                       ng-class="{fade: startFade}"
                       ng-click="updateRedirect(redirect.redirectid, redirect)">
                      <span ng-if="redirect.dirty"
                            ng-switch="hidden"><a href="#">save</a>
                      </span>
                  </span>




                  <span class="default" ng-class="{fade: startFade}">
                      <span ng-if="redirect.dirty == false"
                            ng-switch="hidden">saved
                      </span>
                  </span>
            </div>
            <span ng-show="redirectList" class="list"></span>
        </div>
    </div>
</div>
